{% extends "store/base.html" %}

{% block title %}Detalle del Producto{% endblock %}

{% block content %}
<h2>{{ product.name }}</h2>

<div class="row">
    <div class="col-md-6">
        <img src="{{ product.image.url }}" class="img-fluid" alt="{{ product.name }}">    </div>
    <div class="col-md-6">
        <p><strong>Precio:</strong> ${{ product.price }}</p>
        <p><strong>Existencia:</strong> {{ product.stock }}</p>
        <p><strong>Descripción:</strong></p>
        <p>{{ product.description }}</p>
    </div>
</div>
{% endblock %}
